*{
    margin: 0px;
    box-sizing: border-box;
}

@media screen and {min-width: 320vh;    
}
@media screen and{ max-width: 1024;}

html{
    font-family: "karla", sans-serif;
}

.fcm{
    height: 60vh; 
    position: relative; 
    left:5vh; 
}
.fcm img{
    position:relative;
    left: 32vh;
    top: 10vh;
    width: 100px;
}
.ssec{
    position: relative;
    left: 10vh;
    top: 60px;
}

.fp{
    font-size: 35px;
    color:rgb(184, 179, 179);
    margin: 8vh 0vh 3vh 0vh;
    letter-spacing: 2px;
}

.sp{
    font-size: 20px;
    /* height: 20px; */
    color:rgba(0, 0, 0, 0.685);
    margin: 0vh 0vh 5vh 10vh;
}

strong{
    color: black;}

button{
    border-radius: 24px;
    border: none;
    inline-size: 60vh;
    height: 8vh;
    background-color: rgb(53, 89, 250);
    color: white;
margin: 2vh 10vh 2vh 0vh; }
    

input{
    border-radius: 24px;
 inline-size: 60vh;
 height: 8vh;
    border-color: rgb(129, 191, 250);
    margin:0vh 10vh 0vh 0vh;
    border-color: rgba(102, 102, 245, 0.295);
    border-width: 1px;
}

::placeholder{
    color: rgba(73, 122, 214, 0.281);
    text-align: initial;
    padding: 15px;
    font-weight:50px;
}

.frsec{
     height:50vh; 
     margin: 10vh 0vh 10vh 0vh;
    position: relative;
    left:8vh;
    top: 10vh;
}

.fimgs{
     position: relative;
     left:34vh;
     top: 25vh;
     letter-spacing: 10px;
}

.fpara{
    color:rgb(161, 159, 159);
    position: relative;
    left: 24vh;
    top: 27vh;
   }